.wp-block-ph-flipbook-block {
    padding: 2rem 1rem;
	border: 4px dotted #f3f3f3;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	a {
		font-size: .75rem;
	}
	* {
		margin: 0;
		padding: 0;
	}
	.flipbook-block_file {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}